checkpoints/*
log/*
test.py
data/CAVE/
data/cave_1024_28/
data/masks/
data/MNIST/
data/test_benchmark/
data/__pycache__/
config/__pycache__/
models/__pycache__/
trainer/__pycache__/
Utils/__pycache__/
visualizer/__pycache__/
figs/*
copy.sh